[Unit]
Description=Nginx Reverse Emby Lightweight Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/opt/nginx-reverse-emby-agent/agent.env
WorkingDirectory=/opt/nginx-reverse-emby-agent
ExecStart=/usr/bin/node /opt/nginx-reverse-emby-agent/bin/light-agent.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
