MASTER_PANEL_URL='http://master.example.com:8080'
MASTER_REGISTER_TOKEN='change-this-register-token'
AGENT_NAME='edge-01'
AGENT_TOKEN='change-this-agent-token'
AGENT_PUBLIC_URL=''
AGENT_VERSION='1'
AGENT_TAGS='edge,emby'
AGENT_HEARTBEAT_INTERVAL_MS='10000'
RULES_JSON='/opt/nginx-reverse-emby-agent/proxy_rules.json'
AGENT_STATE_FILE='/opt/nginx-reverse-emby-agent/state.json'
APPLY_COMMAND='/usr/local/bin/nginx-reverse-emby-apply.sh'
